<section class="steppers hor">
  <section class="item">
    <div class="ball-step">
      1
    </div>
    <section class="text-step">
      Mudar nome
    </section>
  </section>
  <section class="item">
    <div class="ball-step">
      2
    </div>
    <section class="text-step">
      Salvar nome
    </section>
  </section>
  <section class="item">
    <div class="ball-step">
      3
    </div>
    <section class="text-step">
      Excluir nome
    </section>
  </section>
  <section class="item">
    <div class="ball-step">
      3
    </div>
    <section class="text-step">
      Excluir nome
    </section>
  </section>
</section>

<br/><br/><br/><br/>

<section class="steppers vert">
  <section class="item">
    <section class="ball">
      <div class="ball-step">
        <!--<i class="material-icons">visibility</i>-->
      </div>
    </section>
    <section class="body">
      <section class="text-step">
        01.10.2010 até 01.11.2010
      </section>
      <section class="body-text">
        A conciliação foi realizada e o saldo final foi de 1000,00
      </section>
    </section>
  </section>
  <section class="item">
    <section class="ball">
      <div class="ball-step">
        <!--<i class="material-icons">visibility</i>-->
      </div>
    </section>
    <section class="body">
      <section class="text-step">
        01.10.2010 até 01.11.2010
      </section>
      <section class="body-text">
        A conciliação foi realizada e o saldo final foi de 1000,00
      </section>
    </section>
  </section>
  <section class="item">
    <section class="ball">
      <div class="ball-step">
        <!--<i class="material-icons">visibility</i>-->
      </div>
    </section>
    <section class="body">
      <section class="text-step">
        01.10.2010 até 01.11.2010
      </section>
      <section class="body-text">
        A conciliação foi realizada e o saldo final foi de 1000,00
      </section>
    </section>
  </section>
  <section class="item">
    <section class="ball">
      <div class="ball-step">
        <!--<i class="material-icons">visibility</i>-->
      </div>
    </section>
    <section class="body">
      <section class="text-step">
        01.10.2010 até 01.11.2010
      </section>
      <section class="body-text">
        A conciliação foi realizada e o saldo final foi de 1000,00
      </section>
    </section>
  </section>
</section>


